{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Etapa 4 – Envía tus Respuestas{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Instrucciones</h3>

        <p>
            Para la cuarta etapa no tendrás que realizar ninguna suma
            adicional. En esta etapa solo tendrás que elegir el esquema de pago
            respecto a las sumas que realizaste en la etapa anterior (Etapa 3).
        </p>
        <p>
            1. Si eliges Torneo, tu desempeño de la Etapa 3 será comparado con el
            desempeño de los otros tres participantes de tu grupo en esa misma etapa. Si resolviste
            más respuestas correctas que el resto en la Etapa 3 recibirás $1000
            por cada respuesta correcta. Sin embargo, si no tuviste más respuestas
            correctas que el resto, recibirás $0. Si hay empate, el ganador será elegido al azar.
        </p>
        <p>
            2. Si eliges el esquema Pago por Pregunta, recibirás $250 por cada
            suma correcta en la Etapa 3 (tu pago no se verá afectado por las
            respuestas incorrectas). En este caso, tu pago no depende del
            rendimiento de los otros tres participantes.
        </p>

    </div>
</div>


{% next_button %}

{% endblock %}
