{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Etapa 1 – Torneo Pagado{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3>Instrucciones</h3>
        <p>
            En esta primera etapa, tendrás 2 minutos para calcular las sumas.
            Además, tu pago depende de tu desempeño en relación a los otros tres 
            participantes que se encuentran en tu misma fila. 
        </p>
         <p>
            Si la Etapa 1 es seleccionada al azar para el pago, tus
            ganancias dependerán de la cantidad de sumas que resuelvas en
            comparación con las otras tres personas de tu grupo. La persona que
            resuelva correctamente el mayor número de sumas recibirá $1.000 por
            cada suma correcta, mientras que los otros participantes recibirán
            $0. Si hay empate, el ganador será elegido al azar.
        </p>
        <p>
            A esta modalidad la llamamos torneo pagado.
        </p>
        <p>
            No se te informará sobre tu desempeño respecto al resto hasta
            finalizar las ocho etapas.
        </p>
        <p><b>¿HAY ALGUNA PREGUNTA ANTES DE COMENZAR?</b></p>

    </div>
</div>


{% next_button %}

{% endblock %}
