{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Introduction{% endblock %}

{% block content %}

<h2>Bienvenido/a</h2>

<p>
    Esta sesión contiene 10 etapas, las primeras cuatro corresponden a sumas aritméticas, las siguientes 
    cinco son distintas decisiones que debes tomar. Por último, deberás completar una encuesta. Cada una de las 
    etapas es diferente a la anterior, por lo que tienes que leer con atención cada instrucción. 
</p>
<p>
    Ten en cuenta que estás agrupado con otras tres personas en tu misma fila, y tu recompensa dependerá 
    tanto de tus respuestas como las de tu grupo dependiendo de cada etapa.  
</p>
<p>
    Se te pagará $2.000 cómo tarifa de presentación al experimento. Adicionalmente, cada etapa tiene un pago 
    asociado según los resultados que obtengas. Sin embargo, solo una de las etapas se seleccionará al azar 
    para determinar tu pago final. 
</p>
<p>
    <b>ATENCIÓN.</b> El método que se utiliza para determinar tu pago varía según
    cada etapa, por lo que tienes que leer con atención cada etapa.
</p>
<p>
    Por favor, no hables con nadie en ningún momento durante el experimento.
    Lee tranquilo/a las instrucciones, no se te descuenta tiempo, ni puntaje por
    leerlas.  Si tienes alguna pregunta, levanta tu mano en silencio.
</p>


{% next_button %}

{% endblock %}
